body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

.container{
  display: flex;
  justify-content: center;
  padding: 20px;
  max-width: 800px;
  margin: 0 auto;
}

.user-profile-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  flex: 1;
  width: 50%;
  height: 650px;
  margin: 60px;
}

.profileAvatar {
  margin-bottom: 60px;
}

.user-name{
  text-align: center;
}

.User_profile_form{
  display: flex;
  justify-content: space-between;
  width: 760px;
  height: 650px;
  padding: 10px;
  align-items: center;
}

.Inputs-container{
  width: 760px;
  height: 650px; 
  padding: 20px;
  background: linear-gradient(
    160deg,
    rgba(47, 106, 159, 0.6)0%,
    rgba(241, 241, 241, 0.6)50%,
    rgba(242, 86, 91, 0.6)100%
  );
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}



.textName, .textLastName{
justify-content: space-between; 
display: flex;
width: 50%;
height: 40px;
flex:1;
gap: 20px;
}


.textEmail, .textPhoneNumber {
  justify-content: space-between; 
  display: flex;
  width: 315px;
  height: 40px;
  gap: 20px;
  flex: 1
}


.textLocation{
  display: flex;
  width: 708px;
  height: 40px;
  gap: 20px;
  flex: 1
}

.textLikes{
  display: flex;
  width: 708px;
  height: 159px;
  gap: 20px;
  flex:1
}

.Button {
  display: flex;
  width: 80%;
  height: 5%;
  gap: 40px;
  background: rgb(75, 189, 53);
  background: linear-gradient(
    149deg,
    rgb(51, 206, 59) 0%,
    rgb(117, 242, 86) 100%
  
  );
  
}

