body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

.ContainerGeneral{
  display: flex;
  margin: 50px 10px;
}


.User-profile-info{
  margin-right: 20px;
  margin-left: 20px;
  flex: 1;
  background-color: white;
  height: max-content;
}

.userName{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
  text-align: center;
}

.UserEmail{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
  text-align: center;
}

.ProfileAvatar{
  margin-left: auto;
  margin-right: auto;
}

.Inputs-container{
  flex:1;
  background: linear-gradient(
    160deg,
    rgba(47, 106, 159, 0.6)0%,
    rgba(241, 241, 241, 0.6)50%,
    rgba(242, 86, 91, 0.6)100%
  );
  box-shadow: rgba(0.16,0.16,0.16,0.16) 4px 4px 4px;
  border-radius: 5px;
  height: max-content;
  width: max-content;
  margin-right: 100px;
}

.all-Content-Inside{
  display: flex;
  justify-content: space-between;
  margin: 15px 15px 15px 15px;
  flex-direction: column;
}

.textName{
  background-color: #768499;
  width: 100%;
}

.textLastName{
  background-color: #768499;
  width: 100%;
}

.textEmail{
  background-color: #768499;
  width: 100%;
}

.textPhoneNumber{
  background-color: #768499;
  width: 100%;
}

.textLocation{
  background-color: #768499;
  width: 100%;
}

.textLikes{
  background-color: #768499;
  width: 100%;
}

.Button {
  width: 15em;
  height: 3em;
  cursor: pointer;
  font-weight: bold;
  background-color: rgb(75, 189, 53);
  background: linear-gradient(
    149deg,
    rgb(49, 158, 55) 0%,
    rgb(49, 158, 55) 100%
  );
}

.ActualizarPerfilButton{
  align-self: self-end;
}

  