.menu-item {
    background-color: #fff;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 200px;
    text-align: center;
    margin: 10px;
  }
  
  .menu-item-image {
    width: 100%;
    border-radius: 8px;
  }
  
  .view-button {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #f2565b;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .view-button:hover {
    background-color: #d94545;
  }
  