.section2 {
    padding: 2rem;
    background: linear-gradient(to right, #f2565b, #8f607d);
    text-align: center;
  }
  
  .menu-button {
    font-family: 'Kulim Park';
    margin-top: 40px;
    padding: 15px 40px;
    border-radius: 100px;
    background: white;
    font-weight: bold;
    border: none;
    cursor: pointer;
  }
  