/*Importing Google Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Kulim+Park&display=swap');

/*Global Styles*/
*{
    box-sizing:border-box;
    margin:0;
    padding:0;
}

/*Body Styles*/
body {
    width: 100%;
    height: 100%;
    padding:0;
    margin:0;
    font-family:'Kulim Park', sans-serif,;

}

/*Site Header styles*/
.site-header {
    border-bottom: 1px solid #000;
}


/*Container styles*/
.container{
    display:flex;
    flex-direction:column; 
    box-sizing:border-box;
    max-width: 1284px;
    max-height:934px;
    border: 1px;
    padding: 20px;
    margin-top: 50px;
    margin-bottom: 100px;
    margin-left: 100px;
    margin-bottom:350px;

}

/*Title Styles*/
.TituloPrincipal{
    border-bottom: 1px solid;
}
.introduccionHeading{
    color:#f85868;
    margin-bottom: 50px;
}


.TituloPrincipal, .dondeHeading{
    margin-bottom: 50px;
    font-family: 'Kulim Park', sans-serif;
    font-weight: 700;
    font-style: italic;
    color: rgba(47,106,159,255);
}

/*Section Styles*/
.seccionMolokai{
    text-align: left;
    float:left
    

}

.seccionMolokai2{
    text-align: right;
}


/*Image Styles*/
.Imagen1{
    max-width: 624px;
    max-height: 377px;
    border-radius: 5px;
    display:block;
    border:none;
    object-fit:contain;
    border-radius: 5px;
    float:right;
    margin-top:60px;
    


}

.Imagen3{
    margin-left: 20px;
}

.Imagen2{
    width:330px;
    height: 345px;

}

.dondeTexto{
    margin-right: 500px;
}

.imageContainer{
    max-width: 624px;
    max-height: 377px;
    border-radius: 5px;
    display:block;
    border:none;
    object-fit:contain;
    border-radius: 5px;
    float:left;
}
/*Media queries*/

/*Tablets (min-width:769px)*/
@media(max-width:1066px) and (min-width:706px){
    .container{
        margin-left: 100px;
    }
    .introduccionHeading{
        width:550px;

    }
    .introduccionTexto{
        max-width:400px;
    }
    .seccionMolokai{
        display:row;
        margin-bottom: 100px;
    }

    .seccion1{
        margin-bottom: 50px;
    }
    .Imagen1{
        
        margin-left: 390px;
    }
}

/*Tablet*/
@media(max-width:700px){ 
    .container{
        margin-left: 100px;
    }
    .introduccionHeading{
        width:550px;
        font-size:xx-large;
        margin-bottom: 100px;
    }
    .introduccionTexto{
        max-width:900px;
        font-size: large;

    }
    .seccionMolokai{
        display:row;
    }

    .seccion1{
        margin-bottom: 300px;
    }
    
    .Imagen1{
        float:left;
        margin-left: 400px;
        margin-top: 140px;
    }

}

/* Medium to small smartphone*/
@media(max-width:480px){ 
    .container{
        margin-left: 100px;
    }

    .introduccionHeading{
        width:550px;
        font-size:xx-large;
        margin-bottom: 100px;
    }
    .introduccionTexto{
        margin-top: 460px;
        max-width:900px;
        font-size: large;

    }
    .seccionMolokai{
        display:row;
        margin-right: 100px;
    }

    .seccion1{
        margin-bottom: 300px;
    }
    
    .Imagen1{
        display: flex;
        justify-content: flex-start;
        margin-top: 140px;
        margin-left: 0;
    }
}





.introduccionTexto{
    width:500px;
    height:90px;

}

.introduccionTexto,.dondeTexto{
    color:rgb(37, 150, 190);
    font-family:'Kulim Park';

}



.dondeTexto{
    width: 500px;
    height: 233px;
    margin-left: 660px;
    text-align: left;
}


.introduccionHeading{
    margin-bottom: 
}

.seccionMolokai{
    display:grid;
    grid-template-columns: minmax(100px,1fr) 1fr;
    gap:40px;
    margin-bottom: 50px;
    
}

