@import url('https://fonts.googleapis.com/css2?family=Kulim+Park&display=swap');

body {
    width: 100%;
    height: 100%;
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family:'Kulim Park', sans-serif,;

}

.site-header {
    border-bottom: 1px solid #000;
}

.container{
    display:flex;
    flex-direction:column; /*This gives the display a */
    box-sizing:border-box;
    width: 1284px;
    height:934px;
    border: 1px;
    padding: 20px;
    margin-top: 50px;
    margin-bottom: 100px;
    margin-left: 68px;
    margin-bottom:350px;

}

.introduccionHeading{
    color:#f85868;
}

.TituloPrincipal, .dondeHeading{
    font-family: 'Kulim Park', sans-serif;
    font-weight: 700;
    font-style: italic;
    color: rgba(47,106,159,255);
}

.seccionMolokai{
    text-align: left;
    float:left
    

}


.Imagen1{
    max-width: 624px;
    max-height: 377px;
    border-radius: 5px;
    display:block;
    border:none;
    object-fit:contain;
    border-radius: 5px;
    float:right;
    margin-top:60px;
    margin-left: 10px;


}



.seccionMolokai2{
    text-align: right;
}

.Imagen3{
    margin-left: 20px;
}

.Imagen2{
    width:330px;
    height: 345px;

}

.imageContainer{
    max-width: 624px;
    max-height: 377px;
    border-radius: 5px;
    display:block;
    border:none;
    object-fit:contain;
    border-radius: 5px;
    float:left;
}

.introduccionTexto{
    width:500px;
    height:90px;

}

.introduccionTexto,.dondeTexto{
    color:rgb(37, 150, 190);
    font-family:'Kulim Park';

}



.dondeTexto{
    width: 500px;
    height: 233px;
    margin-left: 660px;
    text-align: left;
}


.introduccionHeading{
    margin-bottom: 
}

.seccionMolokai{
    display:grid;
    grid-template-columns: 1fr 1fr;
    gap:40px;
    margin-bottom: 50px;
}




