.navbar {
  background-color: #ffffff !important;
  color: #f2565b !important;
  box-shadow: none;
  padding-left: 2rem;
  padding-right: 2rem;
}

.toolbar {
  min-height: 56px;
  display: flex;
  justify-content: space-between;
}

.logo {
  height: 35px;
  width: auto;
}

.left-buttons {
  display: flex;
  align-items: center;
}

.right-buttons {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.flex-grow {
  flex-grow: 1;
}

.nav-button {
  color: #f2565b !important;
  font-weight: bold !important;
  font-size: 1rem;
  margin-left: 16px !important;
}

.login-button {
  border: 2px solid #f2565b !important;
  color: #f2565b !important;
  background-color: #ffffff !important;
  border-radius: 4px;
  padding: 6px 16px;
  margin-left: 20px;
  white-space: nowrap; /* Mantener el texto en una línea */
}

.register-button {
  border: 2px solid #f2565b !important;
  color: #ffffff !important;
  background-color: #f2565b !important;
  border-radius: 4px;
  padding: 6px 16px;
  white-space: nowrap; /* Mantener el texto en una línea */
}

.login-button:hover {
  background-color: #ffe9f0 !important;
}

.register-button:hover {
  background-color: #e72e69 !important;
}

.order-button {
  color: #f2565b !important;
  background-color: #ffffff !important;
  border-radius: 4px;
  padding: 6px 16px;
  margin-left: 20px;
}

.menu-icon {
  display: none !important;
}

.drawer-item .MuiListItemText-root {
  color: #f2565b !important;
}

@media (max-width: 1024px) {
  .left-buttons {
    display: none;
  }

  .menu-icon {
    display: block !important;
  }
}

@media (max-width: 768px) {
  .right-buttons {
    display: none;
  }
}
