.section3 { 
    padding: 3rem 5rem 3rem 5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 2rem;
}


.section3 img{ 
    height: auto;
    max-height: 600px;
    max-width: 100%;
}

.about_text_board { 
    font-size: 1.25em;
    color: #2F6A9F;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content:left; 
    flex-basis: content;
    flex: 0 1 40%
}

.about_text_board h1{ 
    color: #2F6A9F;
    margin: 0;
}

.about_text_board button{ 
    font-size: 1.0em;
    border: none;
    padding: 5px;
    border-radius: 10px;
    width: 250px;
    background-color: #2F6A9F;
    color: white;
    cursor: pointer; 
    
}

.about_text_board button:hover{ 
    background-color: #1C456B;
    
}

.know_more_button { 
    display: flex;
    flex-direction: row;
    justify-content: left;
    
}

.conoce-button{ 
    font-weight: bold;
}

@media (max-width: 768px) {

    .section3 { 
        flex-direction: column;
        padding: 3rem;
    }

    .about_text_board {
        flex-basis: 40%;
        text-align: center;
    }

    .section3 img{ 
        height: auto;
        width: 100%;
    }

    .know_more_button { 
        justify-content: center;
    }
}